<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.OrTools.x86" version="5.0.6170.24109" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net45" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net45" />
  <package id="System.Xml.Linq" version="3.5.21022.801" targetFramework="net45" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net45" />
</packages>